.row {
  margin: 0;
}

.container {
  margin: 0;
  width: 100%;
  padding: 0;
}


/* HTML TAGS ********************************************************************/

html {
  height: 100%;
  min-height: 100%;
}

body {
  text-align: center;
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 400;
  color: #eee;
}

h1 {
  font-family: Lato,Helvetica,sans-serif;
  color: #333;
}

strong {
  font-weight: 900;
  color: orange;
}

/* BODY MAIN DIVS ********************************************************************/

.content {
  text-align: center;
  background: transparent;
  padding: 60px 0px 60px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
}

#logo {
  width: 180px;
  margin-top: -7px;
}

/* WELCOME ********************************************************************/

#welcome {
  color: #ddd;
}

#welcome a {
  text-decoration: none;
  color: white;
}

#welcome a:hover {
  text-decoration: none;
  color: orange;
}

.paragraph-pad {
  padding: 15px 5px 15px 5px;
}

#name {
  margin-top: 40px;
  font-family: Open Sans;
  font-weight: 800;
  font-size: 35px;
  color: #eee;
}

#subname {
  font-family: 'Raleway', sans-serif;
  margin-top: -5px;
  font-weight: 200;
  font-size: 20px;
  color: #eee;
}

.icon-medium {
  font-size: 30px;
  padding: 5px;
}

#photo {
  width: 80px;
  border-radius: 100%;
}

/* PORTFOLIO ********************************************************************/

.portfolio-item {
  width: 350px;
  height: 205px;
  background-color: #777;
  display: inline-block;
  margin: 20px;
  position: relative;
}

.item-image {
  position: absolute;
  top: 0;
}

.item-image img {
  width: 100%;
}

.item-info {
  width: 100%;
  height: 80px;
  background:rgba(255,255,255,0.8);
  color: black;
  display:none;
  position: absolute;
  bottom: 0;
  margin: 0;
  text-align: left;
  padding: 10px 0px 0px 15px;
}

.item-title {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}

.item-title a {
  color: black;
  text-decoration: none;
}

.item-title a:hover {
  color: orange;
}

.item-tools {
  text-align: left;
  border-radius: 7px;
  background-color: #006dcc;
  display: inline-block;
  margin: 5px 5px 0px 0px;
  padding: 5px;
  color: white;
  font-size: 11px;
}


/* SKILLS ********************************************************************/

.paragraph {
  padding: 20px 100px 20px 100px;
}

.progress {
  width: 300px;
  margin:0 auto;
}

.progress-bar {
  height: 70px;
  margin:-10px;
  background-color: orange;
}

.skill-title {
  text-align: left;
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 900;
  color: #333;
}

.skills-icon img {
  width: 20px;
  height: 20px;
  color: orange;
}

#bio p {
  text-align: left;
  color: #333;
}

#bio td {
  padding: 10px;
}

#skill-progress td {
  color: #333;
  min-width: 120px;
  padding: 10px;
  vertical-align: top;
}

/* CONTACT *********************************************************************/

#contact {
  font-size: 18px;
  margin-top: 15px;
}

#contact a {
  text-decoration: none;
  color: white;
}

#contact a:hover {
  text-decoration: none;
  color: orange;
}

#contact h1 {
  color: #eee;
}

.contact-pad {
    padding-top: 80px;
}

.icon-large {
  font-size: 60px;
  padding: 20px;
}

.btn-primary {
  font-size: 18px;
}

/* FOOTER *********************************************************************/

.footer {
  width: 100%; height: 80px;
  background: linear-gradient(#72767A, #434548);
  padding: 10px;
  text-align: center;
}

.footer a {
  color: #ccc;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  color: #ccc;
}

.copy2 {
  font-size: 10px;
  font-style: italic;
  color: #ccc;
}