
/* Fixing some Bootstrap issues*/
.container-fluid {
    padding: 0px 0px 0px 0px;
}
.span12 {text-align: center; width: 50%;}

/* HTML TAGS */
body {
  margin: 0 auto;
  text-align: center;
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 400;
  color: #eee;
}

a {
  text-decoration: none;
  color: orange;
}

h1 {
  font-family: Lato,Helvetica,sans-serif;
  color: #555;
}

strong {
  font-weight: 900;
  color: orange;
}

/* MAIN DIVS */
#wrapper {
  margin: 0 auto;
	text-align: center;
}

/* HEADER */

#menu-left {
  float:left
}

#menu-right {
  float: right;
}

.menu_items {
  margin: 0 auto;
	text-align: center;
	display: inline-block;
  padding: 0px 20px 0px 0px;
}

/* BODY MAIN DIVS */

.content {
  width:100%; height:700px;
  margin: 0 auto;
  text-align: center;
  position:relative;
}

.content div, p, img {
  padding-top: 10px;
}

/* WELCOME */

#welcome {
  background-image: url("../img/back01.jpg");
  background-repeat: repeat-x;
  color: #ddd;
  padding-top: 60px;
}

#name {
  font-family: Open Sans Condensed;
  font-size: 60px;
}

.icon-medium {
  font-size: 30px;
  padding: 5px;
}

#photo {
  width: 100px;
  border-radius: 100%;
}

/* PORTFOLIO */

#portfolio {
  background-color: #eee;
  background-image: url("../img/back-portfolio.png");
  padding-top: 60px;
}

.portfolio-items {
  width: 300px;
  height: 200px;
  background-color: white;
  display: inline-block;
  margin: 20px;
}

/* SKILLS */

#skills {
  background-color: #952;
  background-image: url("../img/backskills.png");
  padding-top: 60px;
}

.paragraph {
  padding: 20px 100px 20px 100px;
}

.progress {
  width: 300px;
  margin:0 auto;
}

.progress-bar {
  height: 70px;
  margin:-10px;
  background-color: orange;
}

.skill-title {
  text-align: left;
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 900;
  color: #333;
}

.skills-icon img {
  width: 20px;
  height: 20px;
  color: orange;
}

#bio p {
  text-align: left;
  color: #333;
}

#bio td {
  padding: 10px;
}

#skill-progress td {
  color: #333;
  min-width: 120px;
  padding: 10px;
  vertical-align: top;
}

/* CONTACT */

#contact {
  background-color: #7a3;
  background-image: url("../img/back-contact.jpg");
  padding-top: 60px;
}

.footer {
  width: 100%; height: 100px;
  background-color: #7ab;
}

